#if($util.isNull($ctx.result))
  $util.toJson(null)
#else
  {
    "id": "$ctx.result.todoId",
    "text": "$ctx.result.text",
    "completed": $ctx.result.completed,
    "order": $ctx.result.order,
    "createdAt": "$ctx.result.createdAt"
  }
#end
