{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "userId": $util.dynamodb.toDynamoDBJson($ctx.identity.resolverContext.userId),
    "todoId": $util.dynamodb.toDynamoDBJson($ctx.args.id)
  }
}
